body, html {
	height: 100%;
}

.header{
	text-align: center;
	padding: 20px;
}

h1 {
	font-family: "Crimson Text";
	font-size: 40px;
	font-weight: 600;
	color: #111;
	
}

.hot {
	color: #ff2424;
	text-shadow: 0 0 1px #600f0f, 0px -5px 6px #b81616;
}

.cold {
	color: #87a4db;
	text-shadow: 0 0 1px #0e3e9e, 0px 5px 6px #7099ea;
}

h2 {
	font-size: 22px;
	color: #111;
	padding: 20px;
	margin-top: 60px;
}

.wrapper {
	background: url(img/purty_wood.png);
	background-repeat: repeat;
	text-align: center;
	height: 100%;
}

.hidden {
	text-align: center;
}

.guess_box {
	width: 250px;
	height: 200px;
	background: #eee;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 5px 4px #666;
}

.guess_box_title {
	background: #ddd;
	border-radius: 5px 5px 0 0;
	border-bottom: 2px solid #aaa;
}

.guess_box_title p{
	font-family: "Crimson Text";
	text-align: center;
	padding: 10px;
	font-size: 18px;
}

.guess_box input{
	margin: 0 auto;
	display: block;
}

#guess {
	height: 60px;
	width: 60px;
	font-size: 30px;
	box-shadow: 0px 0px 2px rgba (0,0,0,0.3);
	border: 2px solid #b0baad;
	border-radius: 2px;
	margin-top: 15px;
	margin-bottom: 5px;
	text-align: center;
}

#submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:5px;
	border:1px solid #268a16;
	color:#fafbf9;
	padding:5px 22px;
	text-decoration:none;
	/*text-shadow:1px 1px 0px #a7ea98;*/
	margin-top: 10px;
	font-size: 14px;
}

#answer_hint {
	text-align: center;
	font-family: "Crimson Text";
	margin-top: 10px;
}


.button_cont {
	margin-top: 20px;
	display: inline;
	padding: 8px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:5px;
	border:1px solid #268a16;
	color:#fafbf9;
	padding:5px 8px;
	text-decoration:none;
	/*text-shadow:1px 1px 0px #a7ea98;*/
	margin-top: 10px;
	font-size: 14px;
	margin: 0 auto;
	width: 120px;
}

.button:hover{
	box-shadow: 0px 0px 8px 4px #97ea88;
}

.button.red {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.button.red:hover{
	box-shadow: 0px 0px 6px 3px #ff6d6d;
}
